# Scrape data of stay-at-home orders

Data is scraped from

https://www.kff.org/coronavirus-policy-watch/stay-at-home-orders-to-fight-covid19/

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from pymongo import MongoClient
import pprint

import copy
import pandas as pd

# Requests sends and recieves HTTP requests.
import requests

# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup

### Step 1: Check out the website in a browser.

In [3]:
stay_at_home_url = 'https://www.kff.org/coronavirus-policy-watch/stay-at-home-orders-to-fight-covid19/'

### Step 2: Send a GET request for the data.

In [4]:
r = requests.get(stay_at_home_url)

In [5]:
r.status_code

200

### Step 3: Save all the hypertext into mongo for later use.

In [7]:
client = MongoClient('localhost', 27017)
db = client.kff_org
pages = db.pages

pages.insert_one({'html': r.content})

### Step 4: Parse the hypertext with BeautifulSoup

In [8]:
soup = BeautifulSoup(r.content, "html")

In [42]:
#print(soup.prettify())

### Step 5: Navigate the data to pull out the table information.

In [57]:
table = soup.find("table", {"class": 
                            "less-padding alternate-highlights-gray"})
rows = table.find_all("tr")

rows[3].text.split('\n')

#print(type(table))
#print(type(rows))

['', 'Alaska', 'March 27', 'March 28', '']

In [62]:
all_rows = []

# Store each row as a dictionary

empty_row = {
    "state": None, "Date Announced": None, "Effective Date": None
}

# The first two rows contains header information, skip it. 
# The last row contains footer information, skip that too.

for row in rows[2:len(rows)-1]:
    new_row = copy.copy(empty_row)
    each_row = row.text.split('\n')
    new_row['state'] = each_row[1]
    new_row['Date Announced'] = each_row[2]
    new_row['Effective Date'] = each_row[3]

    all_rows.append(new_row)

In [64]:
#all_rows

### Step 6: Load all the rows into a Mongo database.

In [65]:
db = client.kff_org
stay_home_states = db.stay_home_states

In [66]:
for row in all_rows:
    stay_home_states.insert_one(row)

### Step 7: Load all the rows into a pandas dataframe

In [68]:
stay_home_orders_state = pd.DataFrame(all_rows)

### Step 8: Save pandas dataframe to a CSV.

In [70]:
stay_home_orders_state.to_csv('datasets/stay_home_orders_state.csv')

### Step 9: Show the table

In [71]:
stay_home_orders_state

,state,Date Announced,Effective Date,_id
0,Alabama,April 3,April 4,5e8b9794aded4fdccab0eca4
1,Alaska,March 27,March 28,5e8b9794aded4fdccab0eca5
2,Arizona,March 30,March 31,5e8b9794aded4fdccab0eca6
3,Arkansas,–,–,5e8b9794aded4fdccab0eca7
4,California,March 19,March 19,5e8b9794aded4fdccab0eca8
5,Colorado,March 26,March 26,5e8b9794aded4fdccab0eca9
6,Connecticut,March 20,March 23,5e8b9794aded4fdccab0ecaa
7,Delaware,March 22,March 24,5e8b9794aded4fdccab0ecab
8,District of Columbia,March 30,April 1,5e8b9794aded4fdccab0ecac
9,Florida,April 1,April 3,5e8b9794aded4fdccab0ecad
10,Georgia,April 2,April 3,5e8b9794aded4fdccab0ecae
11,Hawaii,March 23,March 25,5e8b9794aded4fdccab0ecaf
12,Idaho,March 25,March 25,5e8b9794aded4fdccab0ecb0
13,Illinois,March 20,March 21,5e8b9794aded4fdccab0ecb1
14,Indiana,March 23,March 24,5e8b9794aded4fdccab0ecb2
15,Iowa,–,–,5e8b9794aded4fdccab0ecb3
16,Kansas,March 28,March 30,5e8b9794aded4fdccab0ecb4
17,Kentucky,March 22,March 26,5e8b9794aded4fdccab0ecb5
18,Louisiana,March 22,March 23,5e8b9794aded4fdccab0ecb6
19,Maine,March 31,April 2,5e8b9794aded4fdccab0ecb7
20,Maryland,March 30,March 30,5e8b9794aded4fdccab0ecb8
21,Massachusetts,March 23,March 24,5e8b9794aded4fdccab0ecb9
22,Michigan,March 23,March 24,5e8b9794aded4fdccab0ecba
23,Minnesota,March 25,March 27,5e8b9794aded4fdccab0ecbb
24,Mississippi,March 31,April 3,5e8b9794aded4fdccab0ecbc
25,Missouri,April 3,April 6,5e8b9794aded4fdccab0ecbd
26,Montana,March 26,March 28,5e8b9794aded4fdccab0ecbe
27,Nebraska,–,–,5e8b9794aded4fdccab0ecbf
28,Nevada,April 1,April 1,5e8b9794aded4fdccab0ecc0
29,New Hampshire,March 26,March 27,5e8b9794aded4fdccab0ecc1
30,New Jersey,March 20,March 21,5e8b9794aded4fdccab0ecc2
31,New Mexico,March 23,March 24,5e8b9794aded4fdccab0ecc3
32,New York,March 20,March 22,5e8b9794aded4fdccab0ecc4
33,North Carolina,March 27,March 30,5e8b9794aded4fdccab0ecc5
34,North Dakota,–,–,5e8b9794aded4fdccab0ecc6
35,Ohio,March 22,March 23,5e8b9794aded4fdccab0ecc7
36,Oklahoma,–,–,5e8b9794aded4fdccab0ecc8
37,Oregon,March 23,March 23,5e8b9794aded4fdccab0ecc9
38,Pennsylvania,March 23,April 1,5e8b9794aded4fdccab0ecca
39,Rhode Island,March 28,March 28,5e8b9794aded4fdccab0eccb
40,South Carolina,–,–,5e8b9794aded4fdccab0eccc
41,South Dakota,–,–,5e8b9794aded4fdccab0eccd
42,Tennessee,March 30,March 31,5e8b9794aded4fdccab0ecce
43,Texas,March 31,April 2,5e8b9794aded4fdccab0eccf
44,Utah,–,–,5e8b9794aded4fdccab0ecd0
45,Vermont,March 24,March 24,5e8b9794aded4fdccab0ecd1
46,Virginia,March 30,March 30,5e8b9794aded4fdccab0ecd2
47,Washington,March 23,March 23,5e8b9794aded4fdccab0ecd3
48,West Virginia,March 23,March 24,5e8b9794aded4fdccab0ecd4
49,Wisconsin,March 24,March 25,5e8b9794aded4fdccab0ecd5
50,Wyoming,–,–,5e8b9794aded4fdccab0ecd6